Source: nodejs-step
Section: misc
Priority: extra
Uploaders: Wade Simmons <wade@simplegeo.com>
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.9.1

Package: nodejs-step
Depends: nodejs (>= 0.2.3), ${misc:Depends}
Architecture: all
Description: step
 http://github.com/creationix/step
